* {
    margin: 0;
    padding: 0;
}

:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 2px;
}

.container {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin: 20px;
}

.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
    border: none;
    background-color: transparent;
}

img {
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
    width: 100vh;
}