* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #080809;
    background: linear-gradient(blueviolet, rgb(82, 5, 154));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container {
    width: 80%;
    height: 600px;
    padding: 20px;
    color: #fff;
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.table {
    background-color: crimson;
    width: 100%;
}

.table-section {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#book-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    word-wrap: break-word;
    background-color: #fff;
    color: #000;
}

#book-list > section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.btn {
    background-color: deeppink;
    border: none;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px 20px;
    cursor: pointer;
}