*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 28, 35);
}

.content-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    border: 2px solid white;
    width: 120px;
    height: 100px;
    margin: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.teal {
    background-color: teal;
}

.red {
    background-color: red;
}
